$global-site-width: 1250px;



/* Media */
$mobile-portrait: 320px; /* Vertically oriented phone */
$mobile-landscape: 480px; /* Horizontally oriented phone */
$tablet: 768px; /* Vertically oritented tablet */
$laptop: 1024px;
$desktop: $global-site-width;