.icon-rss:before {
  content: "\e900";
  font-size: 30px;
  color: #b7b6b6;
}
.icon-rss:hover{
	color: #8ec2da;
}
.icon-behance:before {
  content: "\e902";
  font-size: 30px;
  color: #b7b6b6;
}
.icon-dribbble-with-circle:before {
  content: "\e903";
  font-size: 30px;
  color: #b7b6b6;
}
.icon-twitter-with-circle:before {
  content: "\e904";
  font-size: 30px;
  color: #b7b6b6;
}
.icon-facebook-with-circle:before {
  content: "\e905";
  font-size: 30px;
  color: #b7b6b6;
}