.banner{
	background: url(../img/banner-bg.png) no-repeat center bottom/cover;
	&-inner{
		@include site-width;
		padding: 210px 0 160px 630px;

		@include respond-to(laptop){
			padding-left: 500px;
		}
		@include respond-to(tablet){
			padding-top: 40px;
			padding-bottom: 65px;
			padding-left: 315px;
		}
		@include respond-to(mobiles){
			padding-top: 40px;
			padding-bottom: 50px;
			padding-left: 280px;
			margin: 0 5%;
		}
		@include respond-to(mobile-portrait){
			padding: 30px 0px 35px 180px;
			margin: 0 5%;
		}
	}
	&-title{
		font-size: 42px;
		font-weight: 300;
		color: #fff;

		@include respond-to(tablet){
			font-size: 30px;
		}
		@include respond-to(mobiles){
			font-size: 30px;
		}
		@include respond-to(mobile-portrait){
			font-size: 20px;
		}
	}
	&-description{
		font-size: 26px;
		font-weight: 300;
		color: #fff;
		width: 280px;
		margin-bottom: 35px;

		@include respond-to(tablet){
			font-size: 20px;
			margin-bottom: 25px;
		}
		@include respond-to(mobiles){
			font-size: 22px;
		}
		@include respond-to(mobile-portrait){
			font-size: 15px;
			margin-bottom: 20px;
			width: 150px;
		}
	}
	&-btn{
		font-size: 22px;
		font-weight: 100;
		color: #fff;
		background: #5094f2 url(../img/icon-btn.png) no-repeat 10px center;
		border-radius: 2px;
		padding: 9px 10px 9px 45px;

		@include respond-to(tablet){
			font-size: 20px;
			background: #5094f2 url(../img/icon-btn.png) no-repeat 7px center/19px;
			padding: 6px 7px 6px 33px;
		}
		@include respond-to(mobiles){
			font-size: 31px;
			background: #5094f2 url(../img/icon-btn.png) no-repeat 10px center/32px;
			padding: 0px 10px 5px 50px;
		}
		@include respond-to(mobile-portrait){
			font-size: 20px;
			background: #5094f2 url(../img/icon-btn.png) no-repeat 10px center/21px;
			padding: 3px 10px 5px 40px;
		}
	}
}